<%  record_object ||= nil
    attributes ||= nil
    record_class_name = record_object.class.to_s.underscore
    page_title ||= "Edit #{record_class_name.humanize}"
    fa ||= 'circle-o' %>

<h2><% if fa %><%= content_tag(:i , nil, class: "fa fa-#{fa}") + ' ' %><% end %><%= page_title %></h2>

<% if File.exists?(Rails.root.join("app", "views", record_class_name.pluralize, "_form.html.erb")) %>
  <%= render "#{record_class_name.pluralize}/form" %>
<% else %>
  <%= render "shared/form/default", record_object: record_object, attributes: attributes %>
<% end %>