<div class="software_review_panel top-gap panel panel-default">
<!--   <div class="panel-heading">
    <%#= comments.count %>
  </div> -->
  <div class="panel-body">
    <% if comments.present? %>
      <div class="col-sm-8 col-sm-offset-2">
        <% comments.order('created_at DESC').each do |comment| %>
          <div class="top-gap panel">
              <% if (params[:controller] == "user_admins" || params[:controller] == "users")
                    label = comment.commentable.title
                 else
                   label = comment.user.username
                 end %>
              <%= label %>
              <small><%= (distance_of_time_in_words comment.created_at, DateTime.now) + ' ago' %></small><br>
              <small><%= comment.body %></small>
              <% if current_admin %>
                <% # = admin stuff %>
              <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <i>none</i>
    <% end %>
  </div>
</div>