<%  items ||= []
    model_name = items.model_name.to_s
    new_item_path_parameters ||= [:new, model_name.underscore]
    attributes ||= nil 
    page_title ||= model_name.underscore.humanize.pluralize
    fa ||= false
    as ||= :panels %>

<div class="col-sm-12">

  <h2><% if fa %><%= content_tag(:i , nil, class: "fa fa-#{fa}") + ' ' %><% end %><%= page_title %></h2>

  <div class="btn-group">
    <%= link_to content_tag(:i, "", class: "fa fa-plus") + " Add", new_item_path_parameters, class: "btn btn-primary btn-lg trigger-response-modal" %>
  </div>

  <%= render partial: "shared/index/#{as}", locals: {items: items, attributes: attributes} %>

</div>
