<%  items ||= []
    model_name = items.model_name.to_s
    label ||= model_name.humanize
    new_item_path ||= [:new, model_name.underscore]
    attributes ||= nil
    page_title ||= label.pluralize %>

<div class="col-sm-12 top-gap">

  <% if items.empty? %>
    <div>
      None
    </div>
  <% end %>

  <% items.each do |item| %>

    <%= render partial: "shared/show/panel", locals: {record_object: item, attributes: attributes} %>

  <% end %>
</div>



