<div id="social_share_buttons_holder" class="hide_while_loading">
  <div class="social_share_button twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://engines.onl" data-text="Engines. For running your own server." data-size="large" data-count="none">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <div class="social_share_button pinterest">
    <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fengines.onl&media=http%3A%2F%2Fengines.onl%2Fassets%2Fscreenshots%2Fcontrol_panel.png&description=Engines.%20For%20running%20your%20own%20server." data-pin-do="buttonPin" data-pin-config="none" data-pin-color="red" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png" /></a>
    <!-- Please call pinit.js only once per page -->
    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
  </div>
  <div class="social_share_button linkedin">
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/Share" data-url="http://engines.onl"></script>
  </div>
  <div class="social_share_button facebook">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-like" data-href="http://engines.onl" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
  </div>
  <div class="social_share_button reddit">
    <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit1.gif" alt="submit to reddit" border="0" /> </a>
  </div>


</div>
