<div class="col-md-12">

  <%= render 'sub_navbar' %>

  <%= link_to content_tag(:i, "", class: "fa fa-pencil") + " Contact", contact_info_pages_path, class: "btn btn-lg btn-default trigger-response-modal pull-right top-gap" %>

  <h2><i class="fa fa-smile-o"></i> About us</h2>

  <h3>James Vodanovich—System architect, co-founder</h3>
  <p>James is passionate about empowering users. He has run servers for years and believes that more organisations and individuals can successfully self-host if they are given better tools.</p>
  <p>James has designed the Engines system architecture and is writing the core system software, application builder, and system services controllers.</p>
  <p>Previous jobs include CTO of an ISP, sysadmin for a major logistics messaging network, and programmer of operating software for optical multiplexers. James studied physics and started his career in research where he built data capture systems for transmission spectrometers.</p>
  <p>James loves BSD a bit too much. His favourite self-hosted application is Sonic. He was born in New Zealand and thinks that Mahara is choice.</p>
  <p>James can be found at Sydney Docker meetups and most mornings swimming at Coogee.</p>

  <h3>Lachlan Douglas—CEO, co-founder</h3>
  <p>If you get him started, Lachlan will bore you to death talking about evil Big Internet companies and how our freedom depends on personal servers becoming ubiquitous consumer devices. He'll then say something incomprehensible about approaching 'peak SAAS' and that web 3.0 will be the self-hosted web, blah, blah, blah.</p>
  <p>There's not much to do as the CEO of a two-person outfit, so Lachlan has built the UI and Engines management application.</p>
  <p>Lachlan used to have a proper job as a director of an investment firm. Before that he spent ten years raising capital for private equity and VC funds. Lachlan has invested in startups and done other stuff that you probably don't really care about. Early in his career, before moving to the dark side, Lachlan designed and programmed robotic machine tools and worked in the auto industry. Lachlan studied engineering, design and finance.</p>
  <p>His favourite self-hosted application is ownCloud. His most used application is Redmine because that's where James logs UI bugs.</p>
  <p>Find Lachlan at Sydney Ruby/Roro meetups, although he usually leaves when the free beer runs out.</p>
  <h3><i class="fa fa-heart-o"></i> Feel the love</h3>
  <div class="well" style="font-family:monospace;">
    <p>Dear comrades <span class='pull-right'>13 October 2015</span></p>
    <p>James and I met as students in the 90s and we've kept in touch over the years. In 2013 I'd started programming again as a hobby, tinkering with some DIY projects, and needed help to deploy the personal applications that I was building. James had been self-hosting for as long as I'd known him so I gave him a call.</p>
    <p>After speaking about my problems we reflected on the bigger picture and how today's Internet sucks. Okay, so it doesn't all suck, but the servers that lots of people use are run by companies that suck. Duplicitous and conflicted business models. Backdoors to the surveillance agencies of those that would call themselves our leaders.</p>
    <p>Privacy advocates are right: the Internet has become too centralized.</p>
    <p>Talented independent developers are writing all sorts of cool server applications because they know that self-hosted distributed and federated systems can help preserve digital freedoms. But many great products go under-utilised because it's too difficult for most users to run their own server environments.</p>
    <p>So how can regular users easily self-host so that developers can get their software to more people? Starting in early 2014 James wrote some Bash scripts, which morphed into some Ruby classes. We tested GUI concepts, made an alpha, and have been building-out since. James has worked very hard. There are a few rough edges*, and more features to add, yet Engines is becoming a piece of work that we are proud of. We hope that you like it too.</p>
    <p>If you have a spare machine or empty VM, install the Engines beta, then install some apps and have a play. We're itching to know how you go.</p>
    <p>Lachlan<br>lachlan@engines.onl</p>
    <p><small>* bugs and crap programming to be found in my code alone. James' code is perfect. ahem.</small></p>
  </div>
  <div class="well" style="font-family:monospace;">
    <p>Our mission isn't complicated. We're making a tool that guides users through system configuration and administration tasks so that non-technical people like Lachlan can self-host. We are doing this because self-hosting is better.</p>
    <p>Let me know if you have any feedback. I have to get back to work now.<br>James<br>james@engines.onl</p>
  </div>

</div>