<div class="col-md-12">

  <%= render 'sub_navbar' %>

  <%= link_to content_tag(:i, "", class: "fa fa-pencil") + " Contact", contact_info_pages_path, class: "btn btn-lg btn-default trigger-response-modal pull-right top-gap" %>

  <h2><i class="fa fa-smile-o"></i> About us</h2>

  <h3>James Vodanovich—System Architect, Co-founder</h3>
  <p>James is passionate about empowering users, or some platitude like that. He has run servers for years and believes that more organisations and individuals can successfully self-host if they are given better tools.</p>
  <p>James has conceived the Engines system architecture and is writing the core system software, application builder, and system services controllers.</p>
  <p>Previous jobs include CTO of an ISP, sysadmin for a major logistics messaging network, and programmer of operating software for optical multiplexers. James studied physics and started his career in research where he built data capture systems for transmission spectrometers.</p>
  <p>James loves BSD a bit too much. His favourite self-hosted application is Sonic. He was born in New Zealand and thinks that Mahara is choice.</p>
  <p>When James is in Sydney he can be found at Docker meetups.</p>

  <h3>Lachlan Douglas—CEO, Co-founder</h3>
  <p>Lachlan wants to fight the man. If you get him started, he'll bore you to death talking about evil Big Internet companies and how our freedom depends on personal servers becoming ubiquitous consumer devices. He'll then say something incomprehensible about approaching 'peak SAAS' and that web 3.0 will be the self-hosted web, blah, blah, blah.</p>
  <p>There's not much to do being the CEO so Lachlan has been kept busy programming the management GUI and other user-facing parts of Engines.</p>
  <p>Lachlan used to have a proper job as a director of an infrastructure investment firm. Before that he spent ten years advising some private equity managers and VCs. Lachlan has invested in a few startups and infrastructure project developers and done other stuff that nobody really cares about. Early in his career, before moving to the dark side, Lachlan was a control engineer working on robotic machine tools. Along the way he spent a year working as an illustrator and another as a crocodile farmer. Lachlan studied engineering, design and finance.</p>
  <p>His favourite self-hosted application is ownCloud, although his most used application is Redmine because that's where James logs GUI bugs.</p>
  <p>Find Lachlan at Sydney Ruby/Roro meetups.</p>
  <br>
  <h3><i class="fa fa-heart-o"></i> Feel the love</h3>
  <div class="well" style="font-family:monospace;">
    <p>Dear user</p>
    <p>James and I met as students in the 90s and we've kept in touch over the years. In 2013 I'd started programming again as a hobby, tinkering with some DIY projects, and needed help to deploy the personal applications that I was building. James had been self-hosting for as long as I'd known him so I gave him a call.</p>
    <p>After speaking about my problems we reflected on the bigger picture and how today's Internet sucks. Okay, so it doesn't all suck, but the servers that most people use are run by companies with conflicted business models and backdoors to the surveillance agencies of those that would call themselves our leaders. Some smart people have been warning us about it for years: the Internet has become too centralized.</p>
    <p>Self-hosted federated systems can help preserve digital freedoms. Talented independent developers are writing all sorts of cool server applications, but many of these go under-utilised because it's too difficult for typical users to run their own environments. We asked: how can people easily run their own servers so that pro-freedom developers have a better channel to get server software into the hands of normal users?</p>
    <p>Starting in early 2014 James wrote some Bash scripts, which morphed into some Ruby classes. We played with some GUI concepts, made an alpha, and have been building-out since. James has worked very hard. There are a few rough edges*, and more features to add, yet Engines is becoming a piece of work that we are proud of. We're building Engines for you, so we very much hope that you think it's good too.</p>
    <p>Happy hosting<br>Lachlan<br>lachlan@engines.onl</p>
    <p><small>* All in my code. James' code is perfect. ahem.</small></p>
  </div>
  <div class="well" style="font-family:monospace;">
    <p>Dear user</p>
    <p>Our mission isn't complicated. We're making a tool that guides users through system configuration and administration tasks so that non-technical people like Lachlan can self-host. We are doing this because self-hosting is better.</p>
    <p>Let me know if you have any feedback. I have to get back to work now.<br>James<br>james@engines.onl</p>
  </div>

</div>