<div class="col-md-12">

  <%= render 'sub_navbar' %>

  <h2><i class="fa fa-smile-o"></i> About us</h2>

  <h3><i class="fa fa-sitemap"></i> James Vodanovich — System architect, co-founder</h3>
  <p>James is leading on technology development and is writing the Engines
    core system software, application builder and system services.</p>
  <p>James is an experienced network and systems engineer. His previous roles
    include CTO of an ISP, sysadmin for a major logistics messaging network
    and a programmer of operating software for optical multiplexers.
    James studied physics and started his career in research where he built
    data capture systems for transmission spectrometers.</p>

  <h3><i class="fa fa-black-tie"></i> Lachlan Douglas — CEO, co-founder</h3>
  <p>Lachlan is working on the commercial side of Engines, as well as
    supporting the development effort. He is writing the management application,
    software library and blueprint design studio.</p>
  <p>Lachlan has spent most of his career working in investment management. He
    was the Australian representative of a number of private equity and
    VC firms and a director of an infrastructure investment manager.
    Lachlan started his career as an engineer in automotive manufacturing
    and programmed control systems for robotic machine tools.
    Lachlan studied engineering and finance.</p>

</div>
