<div class="col-md-12">

  <%= render 'sub_navbar' %>

  <h2><i class="fa fa-smile-o"></i> About us</h2>

  <h3><i class="fa fa-sitemap"></i> James Vodanovich — System architect, co-founder</h3>
  <p>James is writing the core system software, application builder and system services.</p>
  <p>Previous jobs include CTO of an ISP, sysadmin for a major logistics messaging network and programmer of operating software for optical multiplexers. James studied physics and started his career in research where he built data capture systems for transmission spectrometers.</p>
  <p>James loves BSD a bit too much. His favourite self-hosted application is Sonic. He was born in New Zealand and thinks that Mahara is choice.</p>
  <p>James can be found at Sydney Docker meetups and most mornings swimming at Coogee.</p>

  <h3><i class="fa fa-black-tie"></i> Lachlan Douglas — CEO, co-founder</h3>
  <p>There's not much to do as the CEO of a two-person outfit, so Lachlan has kept busy writing the Engines management application, software library and blueprint design studio.</p>
  <p>Lachlan used to have a proper job. He was a director of an infrastructure investment firm and before that raised capital for private equity and VC funds. Lachlan has invested in startups and done other stuff that you probably don't really care about. Early on, before moving to the dark side, Lachlan designed and programmed robotic machine tools and worked in the auto industry. Lachlan studied engineering and finance.</p>
  <p>His favourite self-hosted application is ownCloud. His most used application is Redmine because that's where James logs UI bugs.</p>
  <p>Find Lachlan at Sydney Ruby/Roro meetups, although he usually leaves when the free beer runs out (thank you kind sponsors!).</p>
  <h3><i class="fa fa-heart-o"></i> Feel the love</h3>
  <div class="well" style="font-family:monospace;">
    <p>Our mission is simple. We're writing system management software that reduces the pain of administering a multi-purpose host.</p>
    <p>Please let me know if you have any feedback.</p><p>James<br>james@engines.onl</p>
  </div>
  <div class="well" style="font-family:monospace;">
    <p>Dear user<span class='pull-right'>13 October 2015</span></p>
    <p>James and I met as students in the 90s. In 2013 I'd started programming again as a hobby, tinkering with some DIY projects for private use. I needed some help to deploy my personal applications on a personal server and gave James a call. James has been running a personal server for about 25 years and so he knows a thing or two about self-hosting.</p>
    <p>After speaking about my problems we reflected on the bigger picture and how today's Internet sucks. Okay, so it doesn't all suck, but the servers that lots of people use are run by companies that suck. Duplicitous business models. Backdoors for those that would call themselves our leaders. Privacy advocates are right: the Internet has become too centralized.</p>
    <p>Talented independent developers are writing all sorts of cool server applications because they know that self-hosted and federated systems give users a better deal. But many great products go under-utilised because it's too difficult for most users to run their own server.</p>
    <p>Can regular users easily self-host so that developers can get their software to more people? Will personal servers become ubiquitous consumer devices? Are we approaching peak SAAS? Will web 3.0 be self-hosted? We're certainly not the first to ask such questions and others are working on products that have similar objectives to Engines. Still, personal server management is an emerging software category and when we looked we didn't find a system that did what we wanted in the way that we wanted.</p>
    <p>Starting in early 2014 James wrote some Bash scripts, which morphed into some Ruby classes. We tested UI concepts, made an alpha, and have been building-out since. James has worked very hard. There are a few rough edges*, and more features to add, yet Engines is becoming a piece of work that we are proud of. We hope that you like it too.</p>
    <p>If you have a spare machine or empty VM, install the Engines beta, then install some apps and have a play. We're keen to know how you go.</p>
    <p>Lachlan<br>lachlan@engines.onl</p>
    <p><small>* bugs and crap programming to be found in my code alone. James' code is perfect. ahem.</small></p>
  </div>

</div>