<div class="col-md-12">

  <%= render 'sub_navbar' %>

  <h2><i class="fa fa-pencil"></i> Contact</h2>

  <p>For technical issues: james@engines.onl</p>
  <p>For other stuff: lachlan@engines.onl</p>
  <p>Parcels and post: POBox 6600 Cable Beach WA 6726 Australia</p>

</div>