<div class="col-md-12">

  <%= render 'sub_navbar' %>

  <div id="prerelease_alert" class="alert alert-warning top-gap">
    <strong><i class="fa fa fa-exclamation-triangle"></i> Please note</strong>
    <p><small>Engines is currently at a pre-release stage. It is provided as is and without warranty. It's available for beta testing purposes and having a play. Do not use it in production.</small></p>
  </div>

<h2><i class="fa fa-floppy-o"></i> Install</h2>
<p>Start with an updated base system, which should be Ubuntu 14.04 or 15.x with at least 2GB RAM and 40GB available disk space.</p>
<p>Open a new terminal window (ctrl+alt+T is a common shortcut for that) and enter...
</p>
<pre class="top-gap">
curl engines.onl/install | bash
</pre>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    What will this command do? <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown_help">
    <li>Download and run scripts that:<br>
    1. Makes sure that Git is installed.<br>
    2. Download the Engines installer software (into a directory called EnginesInstaller).<br>
    3. Updates the base OS and installs Docker<br>
    4. Downloads the Engines system software (into /opt/engines, /var/lib/engines and /var/log/engines).<br>
    5. Downloads the required container images and starts Engines.</li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    I'm an advanced user <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown_help">
    <li>If you don't like to curl | bash, you might prefer:<pre>sudo apt-get install git
git clone https://github.com/EnginesOS/EnginesInstaller
cd EnginesInstaller
sudo ./install_engines.sh</pre>
<br>
Technical installation instructions, and a guide on how to install on AWS: <%= link_to ("Engines installation " + content_tag(:i, nil, class: 'fa fa-github') + " GitHub page").html_safe, "https://github.com/EnginesOS/System/wiki/Installation", target: "_engines_github", class: 'btn btn-lg' %></li>
  </ul>
</div>

<p class="top-gap">You may need to enter your computer's admin password. You will be prompted to set a timezone. The installer will take about half an hour to run. The URL that you will use to access your Engines web interface will appear at the end of the process. Enter the URL into your browser and sign in to Engines.</p>
<pre>Username 'admin', password 'password'</pre>
<p>Complete the setup wizard and you're ready to install applications.</p>

<h3><i class="fa fa-trash-o"></i> Uninstall</h3>
<p>Open a new terminal window and enter...</p>
<pre>sudo EnginesInstaller/obliterate_engines_no_warning.sh</pre>
<p>This command will uninstall the Engines system software, remove the Engines installer software and delete all Docker images and containers.</p>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    The uninstaller didn't work! <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown_help">
    <li>Make sure that you run the uninstall command from the same directory that you were in when you started the installation, which will be the parent of EnginesInstaller.</li>
    <li>If your terminal is in the EnginesInstaller directory, enter 'cd ..' and then run the uninstall command again.</li>
  </ul>
</div>

</div>
