<div class="col-md-12">

  <%= render 'sub_navbar' %>

  <h2><i class="fa fa-hand-o-right"></i> Overview</h2>

  <p>Engines is for running your own server. Use it to self-host server software and store data. Create a cloud environment that you own and control.</p>

  <h3><i class="fa fa-play"></i> Simple</h3>
  <p>Manage your server through a web interface. Applications are straightforward to setup, configure and maintain. Back-ups are simple to set-up and run.</p>

  <h3><i class="fa fa-sliders"></i> Flexible</h3>
  <p>Install Engines on a hosted virtual computer, or put it on a personal computer in the office or at home.</p>

  <h3><i class="fa fa-rocket"></i> Powerful</h3>
  <p>Run all your server applications in a single environment. Connect applications, files and devices, and share with friends, contacts, employees and colleagues.</p>

  <h3><i class="fa fa-key"></i> Secure</h3>
  <p>Applications run in sandboxed containers to protect your server from malicious and defective software. You hold the keys to your system and its logs. Domicile in the jurisdiction that makes most sense for you. Run VPN to protect your traffic.</p>

  <h3><i class="fa fa-tablet"></i> Applications</h3>
  <p>Use Engines for hosting email, serving files, media libraries, online stores, personal social feeds, blogs and wikis, VPN end-point browsing, instant messaging, multiplayer gaming, managing projects, CRM, fleet tracking, voip, accounting, document sharing, group contacts and calendar, ERP, student portfolios, and more.</p>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Where do I get software to run on Engines? <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown_help">
    <li>Once you install Engines you can use the Installer to access the offical Engines library and third-party libraries.</li>
    <li><%= link_to content_tag(:i, "", class: "fa fa-th-list") + " Library", published_softwares_path, class: "trigger-response-modal" %></li>
    <li>Software libraries contain blueprints, which are the software installation manifests that your Engines system will use to setup your applications.</li>
    <li>Advanced users can sideload applications directly from blueprints, without using an app store or software library.</li>
    <li>Users that understand the security implications of giving an application lower-level system access can install applications from Docker images.</li>
    <li>If you are a software developer or advanced user, you'll find it easy to publish your own blueprints and run your own software library.</li>
  </ul>
</div>


  <p></p>

  <div class="info-page-image-holder">
    <%= image_tag 'radial-engine.jpg' %>
  </div>

</div>