<div class="col-md-12 clearfix">
  <%= render 'sub_navbar' %>
  <h2><%= content_tag :i, nil, class: "fa fa-camera" %> Screenshots</h2>
  <a class="btn btn-default btn-lg top-gap" href="#screenshots_carousel" role="button" data-slide="prev">
      <i class="fa fa-chevron-left"></i> Previous
  </a>
  <a class="btn btn-default btn-lg top-gap" href="#screenshots_carousel" role="button" data-slide="next">
      Next <i class="fa fa-chevron-right"></i>
  </a>
</div>

<div class="col-md-12 top-gap">
  <div id="screenshots_carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/assets/screenshots/control_panel.png" alt="">
        <div class="carousel-caption">
          Control panel
        </div>
      </div>
      <div class="item">
        <img src="/assets/screenshots/find_software.png" alt="">
        <div class="carousel-caption">
          Find software
        </div>
      </div>
      <div class="item">
        <img src="/assets/screenshots/installer_basic.png" alt="">
        <div class="carousel-caption">
          Basic installer
        </div>
      </div>
      <div class="item">
        <img src="/assets/screenshots/installer_advanced.png" alt="">
        <div class="carousel-caption">
          Advanced installer
        </div>
      </div>
      <div class="item">
        <img src="/assets/screenshots/installing.png" alt="">
        <div class="carousel-caption">
          Installation progress
        </div>
      </div>
      <div class="item">
        <img src="/assets/screenshots/network_properties.png" alt="">
        <div class="carousel-caption">
          Change network properties
        </div>
      </div>
      <div class="item">
        <img src="/assets/screenshots/connected_services.png" alt="">
        <div class="carousel-caption">
          Connect services
        </div>
      </div>
      <div class="item">
        <img src="/assets/screenshots/configure_services.png" alt="">
        <div class="carousel-caption">
          Configure services
        </div>
      </div>
      <div class="item">
        <img src="/assets/screenshots/registry.png" alt="">
        <div class="carousel-caption">
          View the registry
        </div>
      </div>
      <div class="item">
        <img src="/assets/screenshots/updating.png" alt="">
        <div class="carousel-caption">
          Update your system
        </div>
      </div>
      <div class="item">
        <img src="/assets/screenshots/bug_report.png" alt="">
        <div class="carousel-caption">
          Bug catcher
        </div>
      </div>






    </div>
  </div>

  <a class="btn btn-default btn-lg top-gap" href="#screenshots_carousel" role="button" data-slide="prev">
      <i class="fa fa-chevron-left"></i> Previous
  </a>
  <a class="btn btn-default btn-lg top-gap" href="#screenshots_carousel" role="button" data-slide="next">
      Next <i class="fa fa-chevron-right"></i>
  </a>
</div>
