<div class="col-md-12">
  <h2><i class="fa fa-info"></i> Overview</h2>

  <div class="row text-center small">
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Run servers for personal or organisational use
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Host your servers in the cloud or on your own hardware
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Easily install, mantain and backup your servers
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          Readily share data between your servers
        </div>
      </div>
    </div>
  </div>

  <%= image_tag 'radial-engine.jpg', id: 'animated-engine-gif-holder' %>
  <h3>Engines is for running servers</h3>
  <p>With Engines you can create powerful personal servers that can do any number of things for you. You can run web apps, online stores, blogs, databases, media servers, file servers, game servers, backup servers and more. Use your servers to store and process your data, create personal websites, and be a backend for apps on your phone or tablet.</p>
  <p>People already use servers extensively in their everyday computing. Mostly they rely on the servers provided by big Internet companies. While this approach suits many, you may seek more control, lower costs, privacy and flexibility. You may want certainty of ownership over your software and the data it contains. If so, you need to run personal servers. The best way to run personal servers is to use Engines.</p>

  <h3>The technology is very cool</h3>
  <p>You run Engines on a computer at home, in the office, or you can use a virtual machine hosted in the cloud. The computer can be tiny or massively powerful.</p>
  <p>Engines allows you to run multiple server applications on one computer. Each application can be focused on a different task, self-contained and executed separately for stability and security.</p>
  <p>Files and data can be readily shared between Engines, and back-ups are simple to set-up and run.</p>
  <p>The architecture gives you the power to deploy multiple personal servers from inexpesnsive hardware. If your servers should ever need more power, it is easy to add new physical or virtual hardware and supe-up Engines.</p>

  <h3>Engines is easy to use</h3>
  <p>With Engines, your server applications are quick and straightforward to install, configure and maintain.</p>
  <p>The installation process is similar to the app store experience that you know from using your phone and tablet.</p>
  <p>Use your browser to view applications in the software gallery. Select the server software that you require. The software will install and start. You now have a new personal server up and running.</p>
</div>
