<div class="col-md-12">
  <h2><i class="fa fa-info"></i> Overview</h2>

  <%= image_tag 'radial-engine.jpg', id: 'animated-engine-gif-holder' %>
  <p>Engines is for running servers. Use it to self-host server software and store data.</p>

  <h3>Easy</h3>
  <p>Engines provides an easy-to-use interface to control your system and its software. Applications are straightforward to install, configure and maintain. Back-ups are simple to set-up and run.</p>

  <h3>Flexible</h3>
  <p>Run Engines on a computer at home or in the office, or on a virtual machine hosted in the cloud.</p>

  <h3>Share</h3>
  <p>Connect files and data between applications, to your devices, and to friends and colleagues.</p>

  <h3>Security</h3>
  <p>You own your environment, and only you hold the keys to your system and logs. To protect from malicious software, applications run in containers that don't have direct access to each other or the system.</p>

  <h3>Privacy</h3>
  <p>Have sovereignty over your data. Domicile in the jurisdiction that makes most sense for you. Run a VPN for extra protection.</p>

  <h3>Software</h3>
  <p>Use Engines for blogging, instant messaging, media libraries, social networking, multiplayer gaming, online stores, managing projects, CRM, fleet tracking, voip, accounting, document sharing, group contacts and calendar, ERP, education platform servers, email and more.</p>

</div>