<div class="col-md-12">
  <h2><i class="fa fa-info"></i> Overview</h2>

  <%= image_tag 'radial-engine.jpg', id: 'animated-engine-gif-holder' %>
  <h3>Engines is for running servers</h3>

  <p>When you run your own server you own your system and data. Engines makes it easy to run your own server and access great software.</p>

  <p>Individuals use Engine for blogging, holding a media library, instant messaging, social networking, and multiplayer gaming.</p>

  <p>Commercial users run software for online stores, managing projects, CRM, fleet tracking, voip, accounting, document sharing, group contacts/calendar, and even ERP. Schools host education platform servers, email and more.</p>

  <h3>Easy to use</h3>

  <p>Engines provides you with an easy-to-use interface to control your server and its software.</p>

  <p>Software applications are quick and straightforward to install, configure and maintain. The installation process is similar to the app store experience that you know from using your phone and tablet.</p>

  <h3>Flexible</h3>

  <p>Run Engines on a computer at home or in the office, or on a virtual machine hosted in the cloud.

  <p>Each application is self-contained and executed separately for stability and security.</p>

  <p>Files and data can be readily shared between Engines, and back-ups are simple to set-up and run.</p>

</div>