<div class="col-md-12 clearfix">
  <%= render 'sub_navbar' %>
  <h2><%= content_tag :i, nil, class: "fa fa-camera" %> Screenshots</h2>
</div>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <h3>Control panel</h3>
      <div class='screenshot'>
        <%= image_tag 'screenshots/control_panel.png', class: "screenshot" %>
      </div>
    </div>
  </div>
</div>
