<div class="col-md-12">
  <h2><i class="fa fa-video-camera"></i> Software videos</h2>
  <p>Promotional videos from publishers of great software. These software applications can all run on Engines.</p>
  <div class="row video-frame-row">
  <div class="col-md-6 video-frame">
      <h3>Plex - media streaming</h3>
      <iframe width="400" height="225"  src="http://player.vimeo.com/video/88950258?title=0&amp;byline=0&amp;portrait=0&amp;color=ff8a00"frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 video-frame">
      <h3>Diaspora - private social network</h3>
      <iframe width="400" height="225" src="http://www.youtube.com/embed/IwuFBVaosY4" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 video-frame">
      <h3>Moodle - learning platform</h3>
      <iframe width="400" height="225" src="http://www.youtube.com/embed/W4uipnBkj-4" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 video-frame">
      <h3>Mahara - personal portfolios</h3>
      <iframe width="400" height="225" src="https://www.youtube.com/embed/Y32NoAgN9Ik" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 video-frame">
      <h3>OpenProject - project management</h3>
      <iframe width="400" height="225" src="http://www.youtube.com/embed/ZYsZn8R1q_k" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 video-frame">
      <h3>Etherpad - collaborative word processor</h3>
      <iframe width="400" height="225" src="http://www.youtube.com/embed/X_SO7K6ef6g" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 video-frame">
      <h3>MediaGoblin - media sharing</h3>
      <iframe width="400" height="225" src="http://www.youtube.com/embed/xsi_VyzbDrE" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 video-frame">
      <h3>Drupal - website content management</h3>
      <iframe width="400" height="225" src="http://www.youtube.com/embed/rF1X12PE6PY" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 video-frame">
      <h3>EZ Publish - websites publishing</h3>
      <iframe width="400" height="225" src="http://www.youtube.com/embed/koDex3KhHNM?list=UU6h8ElA2FBQu0CwsF613fxQ" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 video-frame">
      <h3>Magento - ecommerce</h3>
      <iframe width="400" height="225" src="http://www.youtube.com/embed/BBvsB5PcitQ" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 video-frame">
      <h3>OwnCloud Enterprise - file storage and sharing</h3>
      <iframe width="400" height="225"  src="http://player.vimeo.com/video/91033287?title=0&amp;byline=0&amp;color=e66f35"frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 video-frame">
      <h3>SugarCRM - customer management</h3>
      <iframe width="400" height="225" src="http://www.youtube.com/embed/KDK1TmjmZsw" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 video-frame">
      <h3>Odoo - ERP</h3>
      <iframe width="400" height="225" src="http://www.youtube.com/embed/o0UM3Lg7K4Y" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
