<div class="col-md-12">
  <h2><i class="fa fa-code"></i> Technical brief</h2>
  <div id="animated-engine-gif-holder">
    <a href="/credits"><div id="animated-engine-gif"></div></a>
  </div>
  <p>Engines is a managed system of containerised applications and services that is controlled through a fully-featured web front end. Its purpose is to provide users with tools to easily launch a machine (VM or BM) and install a collection of server software. Software can be easily configured for data access and sharing.</p>
  <p>Engines can run a wide range of software while maintaining system and data security. Application images are built locally. This underpins security and makes it possibe to automatically integrate software with a local environment and system services.</p>
  <p>Software blueprints are used to define an installation and to configure the associated image build process. The installation process is generally fully-automated. Some installation processes complete after receiving input from the user via a web iterface. Users find and access blueprints for new software in software galleries.</p>
  <p>Engines is currently in alpha on a weekly release cycle with a planned beta release due in May. The software is released under the Apache 2.0 license.</p>
  <p>Some of the advanced features are not functional since Engines is still a work in progress. An AWS AMI can be shared as a demo. There is also a youtube video at</p>
  <p>Currently there are about 25 software applications available in the Engines Software Gallery. These applications have been selected because they cover a range of installation types. There are many more software applications that will be blueprinted in coming months for deplyment on Engines.</p>
</div>
