<div class="top-gap">
    <% if published_software.fees_comment.present? || published_software.fees_buttons_html.present? %>
      <p><%= published_software.fees_comment %></p>
      <p><%= published_software.fees_buttons_html.html_safe %></p>
    <% else %>
      <p>This software does not contain information on licensing fees.
    <% end %>

</div>
