<div class="input-group btn-group btn-group-lg pull-right">
  <%= link_to content_tag(:i, "", class: "fa fa-wrench"), published_software_path(id: published_software.id), class: "btn btn-default trigger-response-modal" %>
</div>