<div class="input-group btn-group btn-group-lg pull-right manage_published_software_button">
</div>


<div class="btn-group pull-right">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Where's my favorite application'? <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown_help">
    <li>If you'd like to see a particular application in the library, please get in touch:</li>
    <li><%= link_to content_tag(:i, nil, class: "fa fa-pencil") + " Contact", contact_info_path(), class: "trigger-response-modal" %></li>
  </ul>
</div>
