<% if @comments.present? || current_user %>

<div class="top-gap col-sm-12">
  <legend>Reviews</legend>
</div>

<% end %>

<% if current_user %>
<div class="col-sm-12">
  <div id="published-software-review-form" class="top-gap">
    <%= render 'published_softwares/new_comment_form' %>
  </div>
</div>
<% end %>
<%= render 'comments/index', comments: @comments %>
