<div class="input-group btn-group btn-group-lg">
  <%= link_to (content_tag(:i, "", class: "fa fa-arrow-left") + ' Back'), published_softwares_path, class: "btn btn-warning trigger-response-modal" %>
  <a class="toggle-blueprint-button btn btn-default btn-lg">
    <i class='fa fa-info'></i> Blueprint <i class='toggle-blueprint-button-down-caret fa fa-caret-down'></i><i class='toggle-blueprint-button-up-caret fa fa-caret-up'></i>
  </a>
</div>
