<div class="col-md-12">
<!--   <h1><%= @published_software.to_s %></h1>
 -->
  <% if admin_signed_in? %>
    <div class="top-gap">
      <%= render 'show_actions', published_software: @published_software %>
    </div>
  <% end %>
  <div class="top-gap">
    <%= render 'presenter', published_software: @published_software %>
  </div>
</div>