<div class="input-group btn-group btn-group-lg pull-right manage_published_software_button">
  <%= link_to content_tag(:i, "", class: "fa fa-heart") + " Where's my favorite software", feedback_path(), class: "btn btn-default trigger-response-modal", title: "Manage #{published_software.title}" %>
</div>