<% if current_user %>
  <div id="published-software-review-form" class="top-gap">
    <div class="panel-body">
      <%= render 'apps/new_comment_form' %>
    </div>
  </div>
<% end %>
<%= render 'comments/index', comments: @comments %>
