<div class="col-md-3 top-gap">
  <% if app.icon.exists? %>
  <div class="published-software-icon-holder">
    <img src=<%= app.icon.url %> class="published-software-icon">
  </div>
  <% end %>
</div>
<div class="col-md-9 top-gap"> 
  <div class="published-software-details">
    <% if app.title.present? %>
      <div class="published-software-title">
        <%= app.title %> <%= (content_tag :div, (content_tag :i, nil, class: "fa fa-star", title: "Featured software!"), class: "featured_software_icon") if app.featured_software && params[:controller] != 'homes' %>
      </div>
    <% end %>
    <% if app.detail.present? %>
      <div class="published-software-description">
        <%= app.detail %>
      </div>
    <% end %>
  </div>
</div>
