.manage_app_button {
  margin: 5px;
}

.screenshot img {
  max-width: 100%;
  border: 1px solid #ccc;
}

.index-view-action {
  margin-top: 10px;
}

.published-software-tags-holder {
  margin-left: 10px;
}

.find_by_dropdown_submit_button{
  padding: 3px 20px;
  line-height: 1.42857;
  min-width: 100%;
  text-align: left;  
  border: none;
  border-radius: 0px;
  background-color: #FFF;
}

.find_by_dropdown_submit_button:hover{
  background-color: #F5F5F5;
}

.search-clear-button {
  background-color: #FFF;
  color: #555;
}

.search-clear-button:hover {
  color: #333;
}

.featured_software_icon {
  display: inline-block;
  color: #FFD710;
  font-size: 16px;
  vertical-align: top;
}



.software-panel {
  padding: 5px;
}

.software-panel a.btn {
  /*background-color: transparent;*/
  width: 100%;
  white-space: normal;
  padding: 5px;
  height: 250px;
}

.software-icon-area {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 96px;
  width: 100%;
  text-align: center;
}

.software-icon {
  vertical-align: middle;
  max-height: 96px;
  max-width: 230px;
  border-radius: 5px;
}

.software-name {
  max-height: 48px;
  overflow: hidden;
}

.software-detail {
  font-size: 0.8em;
  height: 78px;
  overflow: hidden;
}

@media (max-width:991px) {
  
  .software-name {
    height: 24px;
  }
  
  .software-detail {
    height: 39px;
  }
}


.software-text small p {
  font-size: 0.8em;
  margin-bottom: 0px;
  color: #666;
}




.published-software-description {
  font-size: 18px;
  overflow: hidden;
}

.published-software-details {
  margin-left: 10px;
}

.published-software-title {
  font-size: 28px;
  overflow: hidden;
}

.published-software-icon-holder {
  vertical-align: top;
  text-align: center;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.published-software-icon {
  max-height: 96px;
  max-width: 96px;
  border-radius: 5px;
  vertical-align: top;
}


.featured_software_icon {
  display: inline-block;
  color: #FFD710;
  font-size: 16px;
  vertical-align: top;
}
