/*body {
  font-family: sans;
}

*/

p {
  color: #666;
}

.home_page h2 {
  color: #f0582a;
}

.home_page h2 {
  color: #f0582a;
}

.alert {
  margin: 0px;
  border: none;
  border-radius: 0px;
}

.top-gap {
  margin-top: 15px;
}

@media (max-width:991px) {
  .col-md-top-gap-on-collapse {
    margin-top: 15px;
  }
}

body {
  background-color: transparent;
  font-size: 18px;
}

.show label,
th
 {
  padding-top: 2px;
  font-size: 14px;
  color: #999;
}

hr {
  margin: 2px;
}

#footer {
  height: 300px;
}


.no-text-wrap {
  overflow:hidden;
  white-space:nowrap;
}

.btn-xlg {
  font-size: 30px;
}

.btn-noborder {
  border: none;
  color: #333;
}

.btn-noborder:hover {
  background-color: #E6E6E6;
}

.panel.panel-default .panel-heading {
  background-color: #FFFFFF;
}
