.top-gap {
  margin-top: 15px;
}

.dropdown-item-lg {
  font-size: 18px;
}

.alert {
  margin-left: 15px;
  margin-right: 15px;
}

/*



.modal-dialog {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

body {
  background-color: transparent;
}*/

/*.navbar-default .navbar-nav > li > a.dropdown-toggle {
  background-color: #f8f8f8;
}

.navbar-default .navbar-nav > li > a.dropdown-toggle:hover {
  background-color: #f8f8f8;
}
*/
/*label {
  color: #777;
  margin-right: 5px;
  margin-bottom: 0px;
}

hr {
  margin: 2px;
}

fieldset {
  margin-top: 20px;
}

#content {
  background-color: transparent;
}

.container {
  background-color: transparent;
}
*/

/*.form-text-lg {
  font-size: 18px;
}
*/
