.navbar {
  font-size: 20px;
  margin-bottom: 0px;
}

.transparent_navbar {
  background-color: transparent;
  border: none;
  margin-top: 0px;
}

.transparent_navbar li.dropdown.open ul.dropdown-menu {
  background-color: #E7E7E7;
  padding-bottom: 15px;
}

.transparent_navbar li.dropdown.open ul.dropdown-menu li:hover {
  color: #333;
}

.navbar-brand {
  font-size: 16px;
}

.navbar-icon {
  height: 30px;
  margin-top: -3px;
}

.navbar .dropdown-menu {
  font-size: inherit;
}

.navbar-buffer {
  margin-top: 50px;
}

.navbar-default .navbar-nav > li > a.dropdown-toggle {
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a.dropdown-toggle:hover {
  background-color: #f8f8f8;
}

.navbar-signin .dropdown-menu {
  margin-top: 5px;
  min-width: 400px;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 5px;
}
