.manage_published_software_button {
  margin: 5px;
}

.published-software-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.published-software-row .published-software-panel:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.screenshot img {
  max-width: 100%;
}

.published-software-panel.panel {
  margin-bottom: 0px;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.published-software-holder {
  margin-left: 10px;
  margin-bottom: 10px;
}

.published-software-description {
  font-size: 18px;
}

.published-software-details {
  margin-left: 10px;
}

.published-software-title {
  font-size: 28px;
}

.published-software-icon-holder {
  vertical-align: top;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.published-software-icon {
  max-height: 64px;
  max-width: 200px;
  border-radius: 5px;
  vertical-align: top;
}

.index-view-action {
  margin-top: 10px;
}

.published-software-tags-holder {
  margin-left: 10px;
}

.find_by_dropdown_submit_button{
  padding: 3px 20px;
  line-height: 1.42857;
  min-width: 100%;
  text-align: left;  
  border: none;
  border-radius: 0px;
  background-color: #FFF;
}

.find_by_dropdown_submit_button:hover{
  background-color: #F5F5F5;
}

.search-clear-button {
  background-color: #FFF;
  color: #555;
}

.search-clear-button:hover {
  color: #333;
}
