.manage_published_software_button {
  margin: 5px;
}

.published-software-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.published-software-row .published-software-panel:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.published-software-panel.panel {
  margin-bottom: 0px;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.published-software-holder {
  margin-left: 10px;
  margin-bottom: 10px;
}

.published-software-description {
  font-size: 18px;
}

.published-software-details {
  margin-left: 10px;
  display: inline-block;
}

.published-software-title {
  font-size: 28px;
}

.published-software-icon-holder {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 200px;
}

.published-software-icon {
  max-height: 64px;
  max-width: 200px;
  border-radius: 5px;
  vertical-align: top;
}

.index-view-action {
  margin-top: 10px;
}

