.tag-cloud-1 { font-size: 1.0em; }
.tag-cloud-2 { font-size: 1.2em; }
.tag-cloud-3 { font-size: 1.4em; }
.tag-cloud-4 { font-size: 1.6em; }

/*.tag-cloud {margin: 10px; }
.tag-cloud:hover { 
  text-decoration: none;
  cursor: pointer;
}*/

#tag_cloud_holder {
  text-align: center;
}
