<div class="col-md-12">
  <%= render 'sub_navbar' %>
  <h2><i class="fa fa-dot-circle-o"></i> About us</h2>
  <p>Engines is being developed by
    James Vodanovich and Lachlan Douglas.</p>
</div>
<div class="row">
  <div class="col-sm-12 top-gap">
    <div class="col-sm-4 col-md-3 col-lg-2">
      <h3>James</h3>
      <p><a href="mailto:james@engines.org"></i> james@engines.org</a></p>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10">
      <p>James is the Engines system architect and leading on technology
        development. He is writing the Engines
        core system software, application builder and system services.</p>
      <p>James is an experienced network and systems engineer. His previous roles
        include CTO of an ISP, sysadmin for a major logistics messaging network
        and a programmer of operating software for optical multiplexers.
        James studied physics and started his career in research where he built
        data capture systems for transmission spectrometers.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 top-gap">
    <div class="col-sm-4 col-md-3 col-lg-2">
      <h3>Lachlan</h3>
    <p><a href="mailto:lachlan@engines.org"></i> lachlan@engines.org</a></p>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10">
      <p>Lachlan is leading on the commercial side of the project, as well as
        working on product development. He is writing the management application,
        software library and blueprint design studio.</p>
      <p>Lachlan has spent most of his career advising private equity and
        VC firms on capital raising and fund formation. Lachlan has been a director of
        a number of startups and investment managemant companies. He
        studied engineering and finance.</p>
    </div>
  </div>
</div>
