<div class="col-md-12">

  <%= render 'sub_navbar' %>

  <h2><i class="fa fa-dot-circle-o"></i> About us</h2>

  <p>Engines is being developed by
    James Vodanovich and Lachlan Douglas.</p>

  <h4>James</h4>
  <p><a href="mailto:james@engines.org"></i> james@engines.org</a></p>
  <p>James is the Engines system architect and leading on technology
    development. He is writing the Engines
    core system software, application builder and system services.</p>
  <p>James is an experienced network and systems engineer. His previous roles
    include CTO of an ISP, sysadmin for a major logistics messaging network
    and a programmer of operating software for optical multiplexers.
    James studied physics and started his career in research where he built
    data capture systems for transmission spectrometers.</p>

  <h4>Lachlan</h4>
  <p><a href="mailto:lachlan@engines.org"></i> lachlan@engines.org</a></p>
  <p>Lachlan is on the commercial side and assisting with development. He is
    writing the management application, software library and blueprint design studio.</p>
  <p>Lachlan has spent most of his career advising private equity and
    VC firms on capital raising and fund formation. He has been a director of
    a number of startups, as well as a large infrastructure investment manager.
    Lachlan studied engineering and finance and once worked as a
    control systems engineer.</p>

</div>
