<div class="col-md-12">

  <%= render 'sub_navbar' %>

  <h2><i class="fa fa-pencil"></i> Contact</h2>

  <p>Technical issues: <a href="mailto:james@engines.org"><i class="fa fa-envelope-o"></i> james@engines.org</a></p>
  <p>Other stuff: <a href="mailto:lachlan@engines.org"><i class="fa fa-envelope-o"></i> lachlan@engines.org</a></p>
  <p>Application ideas/requests to Lachlan.</p>

</div>