<div class="col-md-12">

  <%= render 'sub_navbar' %>
  <h2><i class="fa fa-floppy-o"></i> Install</h2>


  <div id="prerelease_alert" class="alert alert-warning top-gap">
    <strong><i class="fa fa fa-exclamation-triangle"></i> Please note</strong>
    <p><small>Engines is currently at a pre-release stage, provided as is and without warranty. It's available for beta testing purposes and having a play. Do not use it in production.</small></p>
  </div>

<p>You'll need a computer with at least 2GB RAM and 40GB available disk space. It should be running a fresh and updated version of Ubuntu Server 14.04 LTS.</p>
<p>Login and enter this command...
</p>
<pre class="top-gap">
curl engines.org/install | bash
</pre>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    What will this command do? <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown_help">
    <li>Download and run scripts that:<br>
    1. Makes sure that Git is installed.<br>
    2. Download the Engines installer software (into a directory called EnginesInstaller).<br>
    3. Updates the base OS and installs Docker<br>
    4. Downloads the Engines system software (into /opt/engines, /var/lib/engines and /var/log/engines).<br>
    5. Downloads the required container images and starts Engines.</li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    I'm an advanced user <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown_help">
    <li>
        While Ubuntu Server 14.04 LTS is recommended, Engines can run on Server and
        Desktop versions of Ubuntu 14.04 and higher. Please note that if you run
        Engines on a Desktop version of Ubuntu, you will need to disable dnsmasq.
    </li>
    <li>
        Technical installation instructions, and a guide on how to install on
        AWS, can be found on the Engines GitHub page.
    </li>
    <li>
        <%= link_to ("Engines " + content_tag(:i, nil, class: 'fa fa-github') +
        " GitHub page").html_safe, "https://github.com/EnginesOS/System/wiki/Installation",
        target: "_engines_github" %>
    </li>
  </ul>
</div>

<p class="top-gap">
  You may need to enter your computer's admin password to start the installation.
  You will be prompted to set a timezone. The installer will take about
   half an hour to run. The URL that you will use to access your
   Engines web interface will appear at the end of the process.</p>
<p>Open a web browser, enter the URL and sign in to Engines.</p>
<pre>Username 'admin', password 'password'</pre>
<p>Complete the setup wizard and you'll be ready to install applications.</p>
<br>

<h4><i class="fa fa-trash-o"></i> Uninstall</h4>
<pre>curl engines.org/uninstall | bash</pre>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    What will this command do? <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown_help">
    <li>Download and run scripts that:<br>
      1. Uninstall the Engines system software.<br>
      2. Remove the Engines installer software.<br>
      3. Delete all Docker images and containers.
  </ul>
</div>


</div>
