<div class="col-md-12">

  <%= render 'sub_navbar' %>

  <h2><i class="fa fa-hand-o-right"></i> Overview</h2>

  <p>Engines makes it easy to run your own server. Use it to self-host applications and store data. Create a private or personal cloud that you own and control.</p>
  <p>Install Engines on a hosted virtual computer, or on a personal computer in the office or at home.</p>
  <p>Find and install applications using software libraries and app stores. Applications are straightforward to setup, configure and maintain. Back-ups are simple to setup and run.</p>
  <p>Share data between applications, and with friends and colleagues.</p>
  <p>Applications run in sandboxed containers to protect your server from malicious and defective software. You hold the keys to your system and its logs. Domicile in the jurisdiction that makes most sense for you. Run VPN to protect your traffic.</p>
  <p>Use Engines for hosting email, serving files, media libraries, online stores, personal social feeds, blogs and wikis, VPN end-point browsing, instant messaging, multiplayer gaming, managing projects, CRM, fleet tracking, voip, accounting, document sharing, group contacts and calendar, ERP, student portfolios, and more.</p>

</div>
