<div class="col-md-12">
  <%= render 'sub_navbar' %>
  <h2><i class="fa fa-code"></i> Technical brief</h2>
  <p>Engines is a managed system of containerised applications and services that is controlled through a web interface.</p>
  <p>Its purpose is to provide users with tools to easily install and integrate a collection of self-hosted server software.</p>
  <p>Software can be easily configured for data access and sharing.</p>
  <p>Engines can run a wide range of software while maintaining system and data security.</p>
  <p>Application images are built locally. This underpins security and makes it possible to automatically integrate software with a local environment and system services.</p>
  <p>Software blueprints are used to define an installation and to configure the associated image build process.</p>
  <p>The installation process is generally fully-automated. Some installation processes complete after receiving input from the user.</p>
  <p>Users find new software in software libraries. There is an official Engines software library and third-party libraries.</p>
  <p>Libraries contain software blueprints, which Engines uses to configure applications. Advanced users can side-load applications directly from blueprints, without using a software library.</p>
  <p>Users that understand the security implications of giving an application lower-level system access can install applications from container images.</p>
  <p>If you are a software developer or advanced user, you'll find it easy to publish your own blueprints and run your own software library.</p>
  <p>Engines is written in Ruby, runs on Linux and uses Docker for containerization.</p>
  <p> Check out the <%= link_to ("Engines " + content_tag(:i, nil, class: 'fa fa-github') + " GitHub wiki").html_safe, "https://github.com/EnginesOS/System/wiki", target: "_engines_github", class: '' %>.</p>
  <div class="info-page-image-holder">
    <a href="//credits"><div id="animated-engine-gif"></div></a>
  </div>
</div>
